body {
  margin: 0;
  padding: 0;
}
.language_selection button {
  height: 80px;
  font-size: 20px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 140px;
}
.language_selection > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.language_selection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iphone_mock,
.language_selection {
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  padding: 30px;
  position: relative;
  background-color: #262626;
}
.animation_area {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
  display: flex;
  justify-content: center;
}
.siri_animation {
  position: absolute;
  bottom: 30px;
  height: 150px;
  width: 150px;
}
