body {
  margin: 0;
  padding: 0;
}
.iphone_mock {
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  padding: 30px;
  position: relative;
  background-color: #262626;
}
.animation_area {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
  display: flex;
  justify-content: center;
}
.siri_animation {
  position: absolute;
  bottom: 30px;
  height: 150px;
  width: 150px;
}
